/*
Theme Name:     Nuvra Task
Theme URI:      https://github.com/ahmad4372/nuvra-task-theme
Description:    Twentytwentyfive child theme.
Author:         Muhammad Ahmad
Author URI:     https://github.com/ahmad4372/
Template:       twentytwentyfive
Version:        0.1.0
*/
